{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 90,
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
