@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #111;
  overflow: hidden;
  font-size: 12px;
}

* {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}
